/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
  color: #FFE869;

}

.list-badge {
    max-width: 220px;
    padding: 20px;
    margin: auto;
}

.list-badge img {
    width: 50%;
}

.list-badge h3 {
  font-size: 1.2em;
}

.list-badge p {
  font-size: .8em;
}

 #custom {
  background: $blue;
  transition: 0.5s;
  border: 1px solid white;
  opacity: 0.9;
  border-radius: 5px;
 }


#custom:hover {
  color: witch-color;
  background: transparent;
  border: 1px solid $blue;
}

.list-badge p {
  font-size: 13px;
  text-align: justify;
}
