/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
a.btn.btn-primary.btn-lg {
  transition: transform .5s;
  border-radius: 8px;
}

a.btn.btn-primary.btn-lg:hover {
  transform: scale(8);
}
