.signup {
  display: flex;
  align-items: center;
}

.signup p {
  margin: 0;
}

.remember_password {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.remember_password a {
  font-size: 12px;
}

.col-xs-6 {
  padding: 0;
}
