.show-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-description {
  width: 500px;
  margin-left: 20px;
}

#mission-picture {
  position: relative;
}

#user-avatar {
  position: absolute;
  top: 10px;
  right: 560px;
}

