<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @booking.mission.title %></h1>
      <table class="table table-responsive">
        <thead>
          <th colspan="2">Ingredients</th>
        </thead>
        <tbody>
          <% @booking.mission.title %>
            <tr>
              <td><%= @booking.mission.category %></td>
              <td><%= @booking.mission.cost %></td>
              <td><%= @booking.mission.city %></td>
              <td><%#= link_to "delete", dose_path(dose), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

