<div id="footer" class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p class="text-center">About</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="text-center">Contact</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class="text-center">Categories</p>
      </div>
    </div>
    <div class="row text-center">© BuddyNme - 2017</div>
  </div>
</div>
