<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>No friends ?</h1>
    <p>Here you can rent your future <span class="text-brand-color">buddy</span></p>
    <a class="btn btn-primary btn-lg">I want a friend</a>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Why do you need a friend ?</h2>
      <p>
        If you ask yourself this question, your definitely need one ! On FriendFinder, you can find new friends if you got Dollzzz.
        <br>
        How it works ?
        <br>
        Just create a mission and wait for your friends answer. More you paid, more you gonna have friends !
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <ul class="list-inline">
        <li>
          <img src="" alt="Select your mission">
          <p>Find missions</p>
        </li>
        <li>
          <img src="" alt="Discover">
          <p>Discover</p>
        </li>
        <li>
          <img src="" alt="Find friend for money !">
          <p>Find friend for money !</p>
        </li>
      </ul>
    </div>
  </div>
</div>
