/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// wrapper
.wrapper-gray {
  background: rgb(240,240,240);
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-mini {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padded-bottom {
  padding-bottom: 2em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Text color
.text-brand-color {
  color: $brand-color;
}

.text-blue-color {
  color: $blue;
}
