<div class="container text-center">
  <h1>Wishlists</h1>
  <br>
  <div id="results">
    <div class="row padded-bottom">
      <div class="col-xs-12">
        <div class="row">
          <% @wishlists.each do |wishlist| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
             <%= render "shared/card", wishlist: wishlist, user: @user %>
             <br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
